* {
    padding: 0;
    margin: 0;
}

:root {
    --grey: #919191;
    --white: #fff;
}

body {
    background-color: var(--grey);
}

#mainContainer {
    width: 80%;
    height: 100vh;
    background-color: var(--white);
    margin: 0 auto;
}