* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

:root {
	--black: #000;
	--middle-gray: rgb(129, 129, 129);
    --light-gray: rgb(223, 223, 223);
	--white: #fff;
	--yellow: rgb(212, 156, 0);
	--red: #ff0000;
}

/* banner start */

#banner {
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#banner img{
    width: 100%;
    position: absolute;
    top: -250px;
}

/* banner end */

#wrapper {
    width: 100%;
}


#vertical-menu {
    display: block;
    width: 10%;
    height: 100vh;
    padding: 0;
    margin: 0px 0;
    background: var(--light-gray);
    float: left;
}

#vertical-menu li {
    margin: 5px auto;
    padding-left: 1rem;
    text-decoration: none;
}


#vertical-menu a {
    height: 30px;
    color: var(--black);
    font: 1.2rem Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

#vertical-menu a:hover, a.active {
    background: var(--red);
    color: #FFF;
}

#right-div {
    width: 90%;
    height: 100vh;
    padding: 0;
    margin: 0px auto;
    background: #333;
    float: right;
}